.layout {
    height: 95vh;
    .app-title {
        font-weight: bold;
        font-size: 32px;
        color: white;
        a {
            text-decoration: inherit;
            color: inherit;
        }
    }
    .main-content {
        height: 97.5%;
        overflow: auto;
        padding: 15px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        border: 0.5px solid rgb(170, 170, 170);
    }
}