<nz-layout class="outer-layout">
    <nz-header>
        <div nz-row>
            <div nz-col nzSpan="24">
                <span class="app-title">Rxjs for Dummies</span>
            </div>
            <!-- <div nz-col>
                <app-navbar-dropdown></app-navbar-dropdown>
            </div> -->
        </div>
    </nz-header>
    <nz-layout class="inner-layout">
        <nz-sider nzWidth="10%" nzTheme="light" class="sider">
            <app-operators-options class="sider-options"></app-operators-options>
        </nz-sider>
        <nz-content class=" main-content ">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
    <nz-footer class="footer ">Seweryn Cholewa © Rxjs for Dummies 2023</nz-footer>
</nz-layout>