<app-operator-page>
    <div short-description>
        <p class="description-text">
            <span class="important"> Filter </span>- to filter values emitted by an observable based on a condition. It allows you to selectively pass on values emitted by an observable to downstream operators or subscribers. In example below it is used
            to ........
        </p>
    </div>
    <div example-code>
        <quill-view format="text" [content]="codeExample" [preserveWhitespace]="true"></quill-view>
    </div>
    <div class="example-use" example-use>
        <app-people-table [tableData]="tableData"></app-people-table>
        <div clas="filter-wrapper">
            <p>Position filter</p>
            <nz-radio-group [formControl]="chosenPositionControler">
                <label nz-radio [nzValue]="positions.EMPLOYEE">Employee</label>
                <label nz-radio [nzValue]="positions.LEADER">Leader</label>
            </nz-radio-group>
        </div>
    </div>
</app-operator-page>