<section class="operator">
    <ng-content select="[short-description]">

    </ng-content>

    <div class="operator__content">
        <nz-collapse nzGhost class="operator__example-code">
            <nz-collapse-panel nzHeader="Example code">
                <ng-content select="[example-code]">

                </ng-content>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse nzGhost class="operator__example-use">
            <nz-collapse-panel nzHeader="Example use">
                <ng-content select="[example-use]">

                </ng-content>
            </nz-collapse-panel>
        </nz-collapse>
    </div>

</section>